In [1]:
import os
import sys

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Data Load & Preprocess

In [5]:
vdjdb_raw = pd.read_csv('data/raw/vdjdb.tsv', sep='\t')
iedb_raw = pd.read_csv('data/raw/iedb.csv')
tcr_train = pd.read_csv('data/net_tcr/train_ab_95_alphabeta.csv')

/var/folders/w1/mbcsphtx2xz1xqrls0v3d6r80000gn/T/ipykernel_72478/1976341293.py:2: DtypeWarning: Columns (8,10,12,16,17,18,19,20,21,22,23,24,26,31,32,37,38,45,46,47,48,49,50,51,52,53,60,61,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  iedb_raw = pd.read_csv('data/raw/iedb.csv')

## IEDB

In [6]:
print(iedb_raw.columns)
print(iedb_raw.shape)

Index(['Group Receptor ID', 'Receptor ID', 'Reference IRI', 'Epitope IRI',
       'Description', 'Antigen', 'Organism', 'Response Type', 'Assay IDs',
       'MHC Allele Names', 'Reference Name', 'STABLE ID', 'Synonyms',
       'Receptor Type', 'Chain 1 Type', 'Chain 1 Species',
       'Chain 1 Nucleotide', 'Curated Chain 1 V Gene',
       'Calculated Chain 1 V Gene', 'Curated Chain 1 D Gene',
       'Calculated Chain 1 D Gene', 'Curated Chain 1 J Gene',
       'Calculated Chain 1 J Gene', 'Chain 1 Full Sequence',
       'Chain 1 Accession', 'Chain 1 CDR3 Curated', 'Chain 1 CDR3 Calculated',
       'Chain 1 CDR3 Start Curated', 'Chain 1 CDR3 End Curated',
       'Chain 1 CDR3 Start Calculated', 'Chain 1 CDR3 End Calculated',
       'Chain 1 CDR1 Curated', 'Chain 1 CDR1 Calculated',
       'Chain 1 CDR1 Start Curated', 'Chain 1 CDR1 End Curated',
       'Chain 1 CDR1 Start Calculated', 'Chain 1 CDR1 End Calculated',
       'Chain 1 CDR2 Curated', 'Chain 1 CDR2 Calculated',
       'Chain 1 CDR2 Start Curated', 'Chain 1 CDR2 End Curated',
       'Chain 1 CDR2 Start Calculated', 'Chain 1 CDR2 End Calculated',
       'Chain 2 Type', 'Chain 2 Species', 'Chain 2 Nucleotide',
       'Curated Chain 2 V Gene', 'Calculated Chain 2 V Gene',
       'Curated Chain 2 D Gene', 'Calculated Chain 2 D Gene',
       'Curated Chain 2 J Gene', 'Calculated Chain 2 J Gene',
       'Chain 2 Full Sequence', 'Chain 2 Accession', 'Chain 2 CDR3 Curated',
       'Chain 2 CDR3 Calculated', 'Chain 2 CDR3 Start Curated',
       'Chain 2 CDR3 End Curated', 'Chain 2 CDR3 Start Calculated',
       'Chain 2 CDR3 End Calculated', 'Chain 2 CDR1 Curated',
       'Chain 2 CDR1 Calculated', 'Chain 2 CDR1 Start Curated',
       'Chain 2 CDR1 End Curated', 'Chain 2 CDR1 Start Calculated',
       'Chain 2 CDR1 End Calculated', 'Chain 2 CDR2 Curated',
       'Chain 2 CDR2 Calculated', 'Chain 2 CDR2 Start Curated',
       'Chain 2 CDR2 End Curated', 'Chain 2 CDR2 Start Calculated',
       'Chain 2 CDR2 End Calculated'],
      dtype='object')
(23040, 72)

In [7]:
subset = ['Chain 1 CDR3 Curated', 'Chain 2 CDR3 Curated']
iedb = iedb_raw.dropna(subset=subset)
iedb

,Group Receptor ID,Receptor ID,Reference IRI,Epitope IRI,Description,Antigen,Organism,Response Type,Assay IDs,MHC Allele Names,...,Chain 2 CDR1 Start Curated,Chain 2 CDR1 End Curated,Chain 2 CDR1 Start Calculated,Chain 2 CDR1 End Calculated,Chain 2 CDR2 Curated,Chain 2 CDR2 Calculated,Chain 2 CDR2 Start Curated,Chain 2 CDR2 End Curated,Chain 2 CDR2 Start Calculated,Chain 2 CDR2 End Calculated
0,47,57,http://www.iedb.org/reference/1004539,http://www.iedb.org/epitope/69921,VMAPRTLIL,"HLA class I histocompatibility antigen, Cw-3 a...",Homo sapiens (human),T cell,"1548960, 1583178","HLA-E*01:01, HLA-E*01:03",...,NaN,NaN,25.0,29.0,NaN,FVKESK,NaN,NaN,47.0,52.0
64,110,139,http://www.iedb.org/reference/1031961,http://www.iedb.org/epitope/37257,LLFGYPVYV,transcriptional activator Tax,Human T-cell leukemia virus type I (Human T ce...,T cell,"4563281, 4563282, 4563283",HLA-A*02:01,...,NaN,NaN,27.0,31.0,NaN,SVGAGI,NaN,NaN,49.0,54.0
66,111,140,http://www.iedb.org/reference/1031961,http://www.iedb.org/epitope/37257,LLFGYPVYV,transcriptional activator Tax,Human T-cell leukemia virus type I (Human T ce...,T cell,"4563409, 4563445, 4563612",HLA-A*02:01,...,NaN,NaN,27.0,31.0,NaN,SVGAGI,NaN,NaN,49.0,54.0
77,117,151,http://www.iedb.org/reference/1012513,http://www.iedb.org/epitope/59278,SLLMWITQC,Cancer/testis antigen 1,Homo sapiens (human),T cell,"3480611, 3480614, 3480615, 3480625, 3480629, 3...",HLA-A*02:01,...,NaN,NaN,25.0,29.0,SVGAGI,SVGAGI,NaN,NaN,47.0,52.0
127,619,803,http://www.iedb.org/reference/1012513,http://www.iedb.org/epitope/155,AAGIGILTV,Melanoma antigen recognized by T-cells 1,Homo sapiens (human),T cell,"3791903, 3791906, 3791916, 3791919",HLA-A*02:01,...,NaN,NaN,27.0,31.0,SYGVKD,SYGVKD,NaN,NaN,49.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23035,191328,212191,http://www.iedb.org/reference/1040829,http://www.iedb.org/epitope/1310756,QYIKWPWYI,Spike glycoprotein,SARS-CoV2,T cell,21117414,HLA-A*24:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23036,191330,212193,http://www.iedb.org/reference/1040280,http://www.iedb.org/epitope/1858285,KPVETSNSF,Replicase polyprotein 1ab,SARS-CoV2,T cell,18141786,HLA-B*07:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23037,191332,212195,http://www.iedb.org/reference/1040829,http://www.iedb.org/epitope/60242,SPRWYFYYL,Nucleoprotein,SARS-CoV2,T cell,21117415,HLA-B*07:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23038,191334,212197,http://www.iedb.org/reference/1040280,http://www.iedb.org/epitope/70898,VSDGGPNLY,RNA-directed RNA polymerase subunit P1 (Polyme...,Influenza A virus,T cell,18141470,HLA-A*01:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23039,191335,212198,http://www.iedb.org/reference/1040280,http://www.iedb.org/epitope/38043,LMIERFVSL,Replicase polyprotein 1ab,SARS-CoV2,T cell,18141087,HLA-A*02:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
iedb[['Chain 1 CDR3 Curated', 'Chain 2 CDR3 Curated']]

      Chain 1 CDR3 Curated Chain 2 CDR3 Curated
0             IVVRSSNTGKLI           ASSQDRDTQY
64           CAVTTDSWGKLQF     CASRPGLAGGRPEQYF
66           CAVTTDSWGKLQF     CASRPGLMSAQPEQYF
77         CAVRPTSGGSYIPTF       CASSYVGNTGELFF
127            CAGGTGNQFYF       CAISEVGVGQPQHF
...                    ...                  ...
23035      CAMSPFSGSARQLTF       CSVLWSGREGEQFF
23036        CGAGETSGSRLTF       CSVNLGGPTDTQYF
23037        CLVGNTGGFKTIF        CSVPDRGNTEAFF
23038      CAPSRHAGNNRKLIW        CSVQGGTNEKLFF
23039        CAASPFTGNQFYF         CSVQGSSYEQYF

[22771 rows x 2 columns]

In [13]:
iedb_base_cols = ['Group Receptor ID', 'Receptor ID', 'Reference IRI', 'Epitope IRI',
       'Description', 'Antigen', 'Organism', 'Response Type', 'Assay IDs',
       'MHC Allele Names', 'Reference Name', 'STABLE ID', 'Synonyms',
       'Receptor Type']

iedb_a_cols = [col for col in iedb.columns if "Chain 1" in col]
iedb_b_cols = [col for col in iedb.columns if "Chain 2" in col]

iedb_a = iedb[iedb_base_cols + iedb_a_cols]
iedb_b = iedb[iedb_base_cols + iedb_b_cols]

In [36]:
iedb_a_merge_curated = pd.merge(tcr_train['CDR3a'], iedb_a, how='inner', left_on='CDR3a', right_on='Chain 1 CDR3 Curated')
iedb_a_merge_calculated = pd.merge(tcr_train['CDR3a'], iedb_a, how='inner', left_on='CDR3a', right_on='Chain 1 CDR3 Calculated')
print('CDR3a IEDB curated:', iedb_a_merge_curated.shape)
print('CDR3a IEDB calculated:', iedb_a_merge_calculated.shape)

iedb_b_merge_curated = pd.merge(tcr_train['CDR3b'], iedb_b, how='inner', left_on='CDR3b', right_on='Chain 2 CDR3 Curated')
iedb_b_merge_calculated = pd.merge(tcr_train['CDR3b'], iedb_b, how='inner', left_on='CDR3b', right_on='Chain 2 CDR3 Calculated')
print('CDR3b IEDB curated:', iedb_b_merge_curated.shape)
print('CDR3b IEDB calculated:', iedb_b_merge_calculated.shape)

CDR3a IEDB curated: (1951, 44)
CDR3a IEDB calculated: (505, 44)
CDR3b IEDB curated: (2952, 44)
CDR3b IEDB calculated: (42066, 44)